{% extends 'LabsUboldBundle::loyout_ubold.html.twig' %}
{% block title %}{{ 'team - Page | LFS' }}{% endblock %}
{% block body %}
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success" role="alert">
                            {% for msg in app.session.flashBag.get('success') %}
                                <strong> Succès </strong>{{ msg }}.
                            {% endfor %}
                        </div>
                    {% endif %}

                    <h4 class="page-title">{{  'Page Team Intervenants' }}</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ path('homepage') }}">{{ 'LFS' }}</a>
                        </li>
                        <li class="active">
                            {{ 'Page Team Intervants' }}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- end Page Title -->
            <!-- page content -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>{{ 'Page Team intervenant' }}</b></h4>
                        <p class="text-muted font-13">
                            <span class="pull-left">Liste de la team</span>
                            <span class="pull-right"> <a href="{{ path('team_create') }}" class="btn btn-primary btn-block">{{ 'Créer team' }}</a> </span>
                        </p>
                        <div class="clearfix"></div>

                        <table data-toggle="table"
                               data-show-columns="false"
                               data-page-list="[5, 10, 20]"
                               data-page-size="5"
                               data-pagination="true" data-show-pagination-switch="true" class="table-bordered " class="padding-top-sm">
                            <thead>
                            <tr>
                                <th data-field="name" data-switchable="false">{{ 'Nom' }}</th>
                                <th data-field="poste" data-switchable="false">{{ 'Poste' }}</th>
                                <th data-field="Type">{{ 'date' }}</th>
                                <th data-field="link">{{ 'Type' }}</th>
                                <th data-field="user-edit" class="text-center">Edit</th>
                                <th data-field="user-del" class="text-center">Del</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for team in teams %}
                                <tr>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.poste }}</td>
                                    <td>{{ team.types}}</td>
                                    <td>{{ team.link}}</td>
                                    <td><a class="btn btn-block btn-primary" href="{{ path('team_edit', {'id' : team.id }) }}">{{ "Modifier" }}</a></td>
                                    <td><a class="btn btn-block btn-danger" href="{{ path('team_delete', {'id' : team.id }) }}">{{ "Delete" }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end page content -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/labsubold/assets/plugins/bootstrap-table/js/bootstrap-table.min.js') }}"></script>
    <script src="{{ asset('bundles/labsubold/assets/pages/jquery.bs-table.js') }}"></script>
{% endblock %}