{% trans_default_domain 'FOSUserBundle' %}

<div class="logo">
    <a href="">
        <img src="{{ asset('global/images/logo/logo_final.png') }}" alt="La finance s'engage" />
    </a>
</div>

<div class="content">
    <!-- BEGIN REGISTRATION FORM -->
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register-form-esp', 'novalidate': 'novalidate'}}) }}

        <h3 class="font-green">{{ 'La Bourse aux Projets | Inscription' }}</h3>
        <div class="col-md-6 col-sm-6">
            <p class="hint"> {{ 'Détail de vos informations personnelles' }}: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Nom de famille</label>
                {{ form_row(form.firstname, {'label': false, 'attr': {'placeholder' : 'Nom', 'class': 'form-control placeholder-no-fix'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Votre Prénom</label>
                {{ form_row(form.lastname, {'label': false, 'attr': {'placeholder' : 'Prénom', 'class': 'form-control placeholder-no-fix'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Nom de votre entreprise</label>
                {{ form_row(form.compagny, {'label': false, 'attr': {'placeholder' : 'Nom de votre entreprise', 'class': 'form-control placeholder-no-fix'}}) }}
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Numéro de téléphone</label>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.number_phone.country, {'label': false}) }}
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group {% if app.session.get('Error.code') %} has-error has-feedback {% endif %} has-feedback-left">
                            {{ form_row(form.number_phone.number, {'label': false, 'attr': {'placeholder' : 'Numéro de téléphone', 'class': 'form-control placeholder-no-fix'}}) }}
                            <div class="form-control-feedback">
                                <i class="icon-mobile text-muted"></i>
                            </div>
                            {% if app.session.get('Error.code') %}
                                <div class="form-control-feedback">
                                    <i class="icon-cancel-circle2"></i>
                                </div>
                                <span class="help-block">{{ app.session.get('Error.message') }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <p class="hint"> {{ 'Information de connexion' }}: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Adresse Email</label>
                {{ form_row(form.email, {'label': false, 'attr': {'placeholder' : 'Adresse email', 'class': 'form-control placeholder-no-fix'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Mot de passe</label>
                {{ form_row(form.plainPassword.first, {'label': false, 'attr': {'placeholder' : 'Mot de passe', 'class': 'form-control placeholder-no-fix'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Vérifier le mot de passe</label>
                {{ form_row(form.plainPassword.second, {'label': false, 'attr': {'placeholder' : 'Vérifier le mot de passe', 'class': 'form-control placeholder-no-fix'}}) }}
            </div>
        </div>
        <div class="form-actions">
            <a href="{{ path('homepage') }}"  class="btn uppercase yellow-gold btn-outline">{{ 'Retour au site' }}</a>
            <button type="submit" class="btn uppercase  pull-right yellow-gold">{{ 'S\'inscrire' }}</button>
        </div>
    {{ form_end(form) }}
    <!-- END REGISTRATION FORM -->
    <div class="login-options">
        <h4>{{ 'Rejoignez la Finance s\'engage sur les reseaux' }}</h4>
        <ul class="social-icons">
            <li>
                <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
            </li>
            <li>
                <a class="twitter" data-original-title="Twitter" href="javascript:;"> </a>
            </li>
            <li>
                <a class="youtube" data-original-title="Twitter" href="javascript:;"> </a>
            </li>
            <li>
                <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
            </li>
            <li>
                <a class="linkedin" data-original-title="Linkedin" href="javascript:;"> </a>
            </li>
        </ul>
    </div>

</div>



