<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{{ 'Lafinancesengage | Bienvenue' }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <!-- CSS -->
    <link rel='stylesheet' href="{{ asset('global/css/global.css') }}">
    {% block stylesheets %}{% endblock %}

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="{{ asset('plugins/rs-plugin/css/settings.css') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87775146-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-87775146-1');
    </script>
</head>

<body class="{% block cssClass %}{% endblock %}">

<!-- Main Theme Wrapper -->
<div id="Wrapper">
    <div id="Header_wrapper" class="bg-fixed">
         <!-- Header -->
        <header id="Header" class="bg_index">
            <!-- Header -  Logo and Menu area -->
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            <!-- Logo-->
                            <div class="logo">
                                <h1>
                                    <a id="logo" href="{{ path('homepage') }}" title="{{ 'La finance s\'engage, Initiative pour le financement des PME' }}">
                                        <img class="scale-with-grid" src="{{ asset('global/images/logo/logo-web.png') }}" alt="{{ 'La finance s\'engage, Initiative pour le financement des PME' }}"/>
                                    </a>
                                </h1>
                            </div>
                            <!-- Main menu-->
                            <div class="menu_wrapper">
                                <nav id="menu">
                                    <ul id="menu-main-menu" class="menu">
                                        <li class="current_page_item">
                                            <a href="{{ path('homepage') }}"><span>{{ 'Accueil'|capitalize }}</span></a>
                                        </li>
                                        <li>
                                            <a href=""><span>{{ 'présentation'|capitalize }}</span></a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="{{ path('initiative') }}"><span>{{ 'l\'initiative'|capitalize }}</span></a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('organisateur') }}"><span>{{ 'les organisateurs'|capitalize }}</span></a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('partners') }}"><span>{{ 'les sponsors & partenaires medias'|capitalize }}</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{{ path('participant') }}"><span>{{ 'forum'|capitalize }}</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('portfolio') }}"><span>{{ 'Galerie'|capitalize }}</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('contact') }}"><span>{{ 'contacts'|capitalize }}</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('member_index') }}"><span>{{ 'Bourse aux Projets' }}</span></a>
                                        </li>
                                        <li class="border-buttom" id="connexion-btn">
                                            <a href="#"><span>{{ 'Notre portail'|capitalize }}</span></a>
                                        </li>
                                    </ul>
                                </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block header %}{% endblock %}
        </header>
        {% block subHeader %}{% endblock %}
    </div>
    <!-- Main Content -->
    {% block body %}{% endblock %}
    {{ render(controller('LabsPagesBundle:Default:renderArticle')) }}
</div>

<!-- JS -->

<script src="{{ asset('global/js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('global/js/mfn.menu.js') }}"></script>
<script src="{{ asset('global/js/jquery.plugins.js') }}"></script>
<script src="{{ asset('global/js/jquery.jplayer.min.js') }}"></script>
<script src="{{ asset('global/js/animations/animations.js') }}"></script>
<script src="{{ asset('global/js/scripts.js') }}"></script>

{% block javascripts %}{% endblock %}
<!-- [if lt 9]>
<script >
    document.createElement('video');
</script>
<![endif]-->
<script>
    jQuery(window).load(function() {
        var retina = window.devicePixelRatio > 1 ? true : false;
        if (retina) {
            var retinaEl = jQuery("#logo img");
            var retinaLogoW = retinaEl.width();
            var retinaLogoH = retinaEl.height();
            retinaEl.attr("src", "{{ asset('global/images/logo/logo-web.png') }}").width(retinaLogoW).height(retinaLogoH)
        }
    });
</script>

</body>

</html>