{% extends 'LabsUboldBundle::loyout_ubold.html.twig' %}
{% block title %}{{ 'About - Page | AGR' }}{% endblock %}
{% block body %}
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success" role="alert">
                            {% for msg in app.session.flashBag.get('success') %}
                                <strong> Succès </strong>{{ msg }}.
                            {% endfor %}
                        </div>
                    {% endif %}

                    <h4 class="page-title">{{ 'Modification de la page About' }}</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ path('homepage') }}">{{ 'AGR' }}</a>
                        </li>
                        <li class="active">
                            {{ 'Page About' }}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- end Page Title -->
            <!-- page content -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>{{ 'Formulaire de moification de la page About' }}</b></h4>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                {{ form_start(form, {'role': 'form', 'action': path('about_edit', {'id' : id}), 'attr': {'class': 'form-horizontal'}}) }}
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'Titre de la page' }}</label>
                                        <div class="col-md-10">
                                            {{ form_row(form.title) }}
                                            {{ form_errors(form.title) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'Sous Titre de la page' }}</label>
                                        <div class="col-md-10">
                                            {{ form_row(form.subtitle) }}
                                            {{ form_errors(form.subtitle) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'Images de la page' }}</label>
                                        <div class="col-md-10">
                                            {{ form_row(form.imageFile) }}
                                            {{ form_errors(form.imageFile) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'contenu' }}</label>
                                        <div class="col-md-10">
                                            {{ form_row(form.content) }}
                                            {{ form_errors(form.content) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="submit" class="btn  btn-danger">{{ 'Modifier la page' }}</button>
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}