{% extends '::base.html.twig' %}
{% block title %} {{ 'Actualité'|capitalize }}{% endblock %}
{% block cssClass %}
    layout-full-width header-transparent header-menu-right sticky-header sticky-white subheader-both-center no-content-padding
{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('baseLayout/css/structure.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/finances.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/custom.css') }}">
{% endblock %}
{% block subHeader %}
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">{{ 'Actualités'|upper }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block  body %}
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="extra_content">

                </div>
                <div class="section" style="margin-top: 50px;">
                    <div class="section_wrapper clearfix">
                        <!-- One full width row-->
                        <div class="column one column_blog">
                            <div class="blog_wrapper isotope_wrapper">
                                <!-- Blog timeline element-->
                                <div class="posts_group lm_wrapper timeline">
                                    {% for post in posts %}
                                        <div class="post-175 post  format-standard has-post-thumbnail  category-motion category-photography category-uncategorized tag-eclipse tag-grid tag-mysql post-item isotope-item clearfix">
                                        <div class="date_label">
                                            {{ post.created|date('d m, Y') }}
                                        </div>
                                        <div class="image_frame post-photo-wrapper scale-with-grid">
                                            <div class="image_wrapper">
                                                <a href="#">
                                                    <div class="mask"></div>
                                                    <img width="576" height="450" src="{{ post.assertPath|imagine_filter('my_thumb_article') }}" class="scale-with-grid wp-post-image" alt="{{ post.title }}" />
                                                </a>
                                                <div class="image_links double">
                                                    <a href="{{ asset(post.assertPath) }}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="{{ path('single_blog', {'id' : post.id, 'slug': post.slug}) }}" class="link"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                <div class="post-title">
                                                    <h2 class="entry-title"><a href="{{ path('single_blog', {'id' : post.id, 'slug': post.slug}) }}">{{ post.title }}</a></h2>
                                                </div>
                                                <div class="post-excerpt">
                                                    <span class="big">{{ post.content|truncate(350, false, '...')|raw }}</span>
                                                </div>
                                                <div class="post-footer">
                                                    <div class="post-links">
                                                        <i class="icon-comment-empty-fa"></i>
                                                        <a href="{{ path('single_blog', {'id' : post.id, 'slug': post.slug}) }}" class="post-more">{{ 'lire la suite'|capitalize }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- One full width row-->
                                <!--<div class="column one pager_wrapper">
                                    <!-- Navigation Area -->
                                    <!--<div class="pager">
                                        <div class="pages">
                                            <a href="#" class="active">1</a>
                                            <a href="#" >2</a>
                                            <a href="#" >3</a>
                                            <a href="#" >4</a>
                                            <a href="#" >5</a>
                                            <a href="#" >6</a>
                                        </div><a class="next_page" href="#">Next page<i class="icon-right-open"></i></a>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}