{% extends '::base.html.twig' %}
{% block title %} {{ 'Actualité'|capitalize }}{% endblock %}
{% block cssClass %}
    layout-full-width header-transparent header-menu-right sticky-header sticky-white subheader-both-center no-content-padding
{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('baseLayout/css/structure.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/finances.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/custom.css') }}">
{% endblock %}
{% block subHeader %}
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">{{ 'Actualités'|upper }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block  body %}
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="extra_content">

                </div>
                <div class="section" style="margin-top: 50px;">
                    <div class="section_wrapper clearfix">
                        <!-- One full width row-->
                        <div class="column one column_blog">
                            <div class="blog_wrapper isotope_wrapper">
                                <!-- Blog timeline element-->
                                <div class="posts_group lm_wrapper timeline">
                                    <div class="post-175 post  format-standard has-post-thumbnail  category-motion category-photography category-uncategorized tag-eclipse tag-grid tag-mysql post-item isotope-item clearfix">
                                        <div class="date_label">
                                            May 13, 2014
                                        </div>
                                        <div class="image_frame post-photo-wrapper scale-with-grid">
                                            <div class="image_wrapper">
                                                <a href="#">
                                                    <div class="mask"></div>
                                                    <img width="576" height="450" src="{{ asset('global/images/logo/logo-esp.jpg') }}" class="scale-with-grid wp-post-image" alt="beauty_portfolio_2" />
                                                </a>
                                                <div class="image_links double">
                                                    <a href="{{ asset('global/images/logo/logo-esp.jpg') }}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="#" class="link"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                <div class="post-title">
                                                    <h2 class="entry-title"><a href="#">{{ 'Lancement du Forum la Finance S\'engage Edition 2016' }}</a></h2>
                                                </div>
                                                <div class="post-excerpt">
                                                    <span class="big">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie id viverra a.</span>
                                                </div>
                                                <div class="post-footer">
                                                    <div class="post-links">
                                                        <i class="icon-comment-empty-fa"></i>
                                                        <a href="#" class="post-more">{{ 'lire la suite'|capitalize }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- One full width row-->
                                <div class="column one pager_wrapper">
                                    <!-- Navigation Area -->
                                    <div class="pager">
                                        <div class="pages">
                                            <a href="blog-full-timeline.html" class="active">1</a>
                                            <a href="#" >2</a>
                                            <a href="#" >3</a>
                                            <a href="#" >4</a>
                                            <a href="#" >5</a>
                                            <a href="#" >6</a>
                                        </div><a class="next_page" href="#">Next page<i class="icon-right-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}