{% extends 'LabsPagesBundle::layout.html.twig' %}
{% block title %} {{ 'FORUM POUR LE FINANCEMENT DU SECTEUR PRIVÉ'|capitalize }}{% endblock %}
{% block stylesheets %}
  <style>
      .tri-links-2 > li{
          padding-bottom: 10px;
      }
  </style>
{% endblock %}
{% block  body %}
    <div class="page-title causes-title text-center" style="min-height: 250px;">
        <img class="img-responsive slide-img" src="{{ asset('layout_two/img/titles/croissance.png') }}" alt="">
    </div>

    <section class="mt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">{{ 'Besoins en financement'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row">
                <section class="mt-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-sm-offset-2">
                                <div class="upcoming-event-s mt-70">
                                    <img class="img-responsive" src="{{ asset('layout_two/img/croissances/besoin-financement.png') }}" alt="Une cartographie du secteur privé ivoirien">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row mt-70">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">{{ 'Accès au financement'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row">
                <section class="mt-100">
                    <div class="container">
                        <div class="col-md-8 col-sm-8 mt-5 col-md-offset-2">
                            <img class="img-responsive" src="{{ asset('layout_two/img/croissances/acces-au.png') }}" alt="Accès au financement">
                        </div>
                    </div>
                </section>
            </div>

            <div class="row mt-70">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">{{ 'Besoin en Formation'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row">
                <section class="mt-100">
                    <div class="container">
                        <div class="col-md-8 col-sm-8 mt-5 col-md-offset-2">
                            <img class="img-responsive" src="{{ asset('layout_two/img/croissances/formation.png') }}" alt="Besoin en Formation">
                        </div>
                    </div>
                </section>
            </div>

            <div class="row mt-70">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">{{ 'Information'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row">
                <section class="mt-100">
                    <div class="container">
                        <div class="col-md-12 col-sm-12 mt-5">
                            <img class="img-responsive" src="{{ asset('layout_two/img/croissances/information.png') }}" alt="Information">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="our-help mt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class=" white h-sep">Les Chiffres <span class="text-ultra-bold">Clés </span> </h3>
                    <p class="fz-16 white mt-50">
                        <span class="green-5c">91% des entreprises </span> déclarent avoir besoin de financement
                        Le financement, un besoin stratégique face à une impasse
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 mt-70">
                    <div id="canvas-holder" class="clearfix">
                        <canvas id="chart-area" class="pull-left" ></canvas>
                        <div class="round-bar-status pull-left text-center">
                            <h2 class="white text-semi-bold">91%</h2>
                            <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Besoin de </br>financement</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-70">
                    <div id="canvas-holder1" class="clearfix">
                        <canvas id="chart-area1" class="pull-left" ></canvas>
                        <div class="round-bar-status pull-left text-center">
                            <h2 class="white text-semi-bold">29%</h2>
                            <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Dépot d'une </br> demande de </br>financement</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-70">
                    <div id="canvas-holder2" class="clearfix">
                        <canvas id="chart-area2" class="pull-left" ></canvas>
                        <div class="round-bar-status pull-left text-center">
                            <h2 class="white text-semi-bold">14%</h2>
                            <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Financement </br> obtenu</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-70">
                    <div id="canvas-holder3" class="clearfix">
                        <canvas id="chart-area3" class="pull-left"  ></canvas>
                        <div class="round-bar-status pull-left text-center">
                            <h2 class="white text-semi-bold"><span class="green-5c">3574 milliards</span></h2>
                            <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Besoin </br> Total de <br/> financement</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}{% endblock %}