{% extends 'LabsPagesBundle::layout.html.twig' %}
{% block title %} {{ 'Documents'|capitalize }}{% endblock %}
{% block  body %}
    <div class="page-title causes-title text-center" style="min-height: 250px;">
        <img class="img-responsive slide-img" src="{{ asset('layout_two/img/titles/document.png') }}" alt="">
    </div>

    <section class="mt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">{{ 'Documents a Telecharger'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row">
                {% for doc in docs %}
                    <div class="col-md-6 mt-5">
                    <div class="about-author mt-50">
                        <div class="author-info clearfix mt-30" style="padding-top: 5px; padding-bottom: 5px;">
                            <img src="{{ asset('layout_two/icons/pdf.png') }}" alt="" class="pull-left img-responsive">
                            <div class="author-details pull-left">
                                <h5 class="fz-15 text-uppercase black">
                                    <span class="pull-left mt-10" style="padding-left: 2%;">{{ doc.name }}</span>
                                    <div class="clearfix"></div>
                                </h5>
                                <a class="fz-14 mt-20 btn-green-br" href="{{ path('document_download', {'filename' : doc.docName }) }}">{{ 'Télécharger'|capitalize }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}{% endblock %}