{% extends 'LabsPagesBundle::layout.html.twig' %}
{% block title %} {{ 'Nos Engagements'|capitalize }}{% endblock %}
{% block  body %}
    <div class="page-title causes-title text-center" style="min-height: 250px;">
        <img class="img-responsive slide-img" src="{{ asset('layout_two/img/titles/engagements.png') }}" alt="">
    </div>

    <section class="mt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">{{ 'Le financement, un besoin stratégique'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row">

                <div class="col-md-8 mt-5 col-md-offset-2">

                    <div class="about-author mt-50">
                        <div class="author-info clearfix mt-30">
                            <img src="{{ asset('layout_two/img/engagement/pact-p.png') }}" alt="" class="pull-left img-responsive">
                            <div class="author-details pull-left">
                                <h3 class="fz-26 text-uppercase black h-sep">
                                    <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                                    <span class="pull-left mt-10" style="padding-left: 2%;">Prioriser</span>
                                    <div class="clearfix"></div>
                                </h3>
                                <h5 class="mt-30 fz-20 text-uppercase black">Information & formation</h5>
                            </div>
                        </div>
                    </div>
                    <div class="about-author mt-50">
                        <div class="author-info clearfix mt-30">
                            <img src="{{ asset('layout_two/img/engagement/pact-a.png') }}" alt="" class="pull-left img-responsive">
                            <div class="author-details pull-left">
                                <h3 class="fz-26 text-uppercase black h-sep">
                                    <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                                    <span class="pull-left mt-10" style="padding-left: 2%;">Augmenter</span>
                                    <div class="clearfix"></div>
                                </h3>
                                <h5 class="mt-30 fz-20 text-uppercase black">Les ressources</h5>
                            </div>
                        </div>
                    </div>
                    <div class="about-author mt-50">
                        <div class="author-info clearfix mt-30">
                            <img src="{{ asset('layout_two/img/engagement/pact-c.png') }}" alt="" class="pull-left img-responsive">
                            <div class="author-details pull-left">
                                <h3 class="fz-26 text-uppercase black h-sep">
                                    <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                                    <span class="pull-left mt-10" style="padding-left: 2%;">Cibler</span>
                                    <div class="clearfix"></div>
                                </h3>
                                <h5 class="mt-30 fz-20 text-uppercase black">Les besoins prioritaires par segment</h5>
                            </div>
                        </div>
                    </div>
                    <div class="about-author mt-50">
                        <div class="author-info clearfix mt-30">
                            <img src="{{ asset('layout_two/img/engagement/pact-t.png') }}" alt="" class="pull-left img-responsive">
                            <div class="author-details pull-left">
                                <h3 class="fz-26 text-uppercase black h-sep">
                                    <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                                    <span class="pull-left mt-10" style="padding-left: 2%;">Transformer</span>
                                    <div class="clearfix"></div>
                                </h3>
                                <h5 class="mt-30 fz-20 text-uppercase black">Les besoins prioritaires par segment</h5>
                            </div>
                        </div>
                    </div>
                    <div class="about-author mt-50">
                        <div class="author-info clearfix mt-30">
                            <img src="{{ asset('layout_two/img/engagement/pact-e.png') }}" alt="" class="pull-left img-responsive">
                            <div class="author-details pull-left">
                                <h3 class="fz-26 text-uppercase black h-sep">
                                    <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                                    <span class="pull-left mt-10" style="padding-left: 2%;">Evaluer</span>
                                    <div class="clearfix"></div>
                                </h3>
                                <h5 class="mt-30 fz-20 text-uppercase black">L’impact des engagements</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}{% endblock %}