{% extends 'LabsPagesBundle::layout.html.twig' %}
{% block title %} {{ 'FORUM POUR LE FINANCEMENT DU SECTEUR PRIVÉ'|capitalize }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block  body %}
    {% include 'LabsPagesBundle:includes:slide.html.twig' %}
    <!-- sub slide -->
    <div class="container-fluid no-padding" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="main-slider">
            <div class="item">
                <div class="main-slider-img position-r">
                    <img src="{{ asset('layout_two/img/sub.jpg') }}" alt="la finance s'engage">
                </div>
            </div>
        </div>
    </div>
    <!-- end sub slide -->

    <!-- presentation -->
    <section class="mt-100" style="border-bottom: 2px solid #eee; padding-bottom: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 overcoming">
                    <h4 class="d-black lh-33 h-sep">
                      <span class="text-ultra-bold"> {{ 'Presentation l\'initiative' }}</span>
                    </h4>
                    <p class="lh-28 mt-50 fz-15">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta fuga inventore iure magni necessitatibus, non pariatur quam quo tempora velit? Dolores enim fugit iste maxime minima molestias nulla reprehenderit sapiente!
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="upcoming-event-s">
                        <img class="img-responsive" src="{{ asset('layout_two/img/up2.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end presentation-->

    <!-- les organisateurs -->
    <section class="recent-causes">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">{{ 'Les organisateurs'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row mt-20">
                    <div class="col-md-4 mt-50 cause-main">
                        <div class="item">
                            <div class="causes-img text-center">
                                <img src="{{ asset('layout_two/img/organisateurs/cgeci.jpg') }}" alt="Patronat Ivoirien" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-50 cause-main">
                        <div class="item">
                            <div class="causes-img text-center">
                                <img src="{{ asset('layout_two/img/organisateurs/esp.jpg') }}" alt="ESPARTNERS" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-50 cause-main">
                        <div class="item">
                            <div class="causes-img text-center">
                                <img src="{{ asset('layout_two/img/organisateurs/bad.jpg') }}" alt="Banque Africaine de Devéloppement" class="img-responsive">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- end organisateurs -->

    <!-- les speakers -->
    <section class="testimonials mt-30 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class=" black h-sep"><span class="text-ultra-bold"> {{ 'les speakers'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row mt-100">
                <div class="col-md-12">
                    <div class="test-sldier">
                        {% for speaker in speakers %}
                            <div class="item">
                                <div class="test-img display-ib position-r pull-left">
                                    <img class="img-responsive display-ib" src="{{ speaker.assertPath|imagine_filter('my_thumb_speakers') }}" alt="{{ speaker.name }}">
                                </div>
                                <div class="display-ib pull-left test-text">
                                    <img src="{{ asset('layout_two/img/quote-open.png') }}" alt="">
                                    <h4 class="fz-17 d-black text-bold mt-30">{{ speaker.name }}</h4>
                                    <h5 class="fz-15 green-5c mt-10">{{ speaker.poste }}</h5>
                                    <p class="mt-25">
                                        {{ speaker.content|truncate(250, true)|raw }} <a href="">{{ 'En savoir +' }}</a>
                                    </p>
                                    <img class="pull-right mt-30" src="{{ asset('layout_two/img/quote-close.png') }}" alt="">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end les speakers -->

    <!-- les données de la croissance -->
    <section class="mt-15">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">L'INITIATIVE</span> </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="our-help mt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class=" white h-sep">Les données pour la <span class="text-ultra-bold">Croissance </span> </h3>
                    <p class="fz-16 white mt-50">
                        <span class="green-5c">91% des entreprises </span> déclarent avoir besoin de financement
                        Le financement, un besoin stratégique face à une impasse
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 mt-70">
                    <div id="canvas-holder" class="clearfix">
                        <canvas id="chart-area" class="pull-left" ></canvas>
                        <div class="round-bar-status pull-left text-center">
                            <h2 class="white text-semi-bold">91%</h2>
                            <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Besoin de </br>financement</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-70">
                    <div id="canvas-holder1" class="clearfix">
                        <canvas id="chart-area1" class="pull-left" ></canvas>
                        <div class="round-bar-status pull-left text-center">
                            <h2 class="white text-semi-bold">29%</h2>
                            <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Dépot d'une </br> demande de </br>financement</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-70">
                    <div id="canvas-holder2" class="clearfix">
                        <canvas id="chart-area2" class="pull-left" ></canvas>
                        <div class="round-bar-status pull-left text-center">
                            <h2 class="white text-semi-bold">14%</h2>
                            <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Financement </br> obtenu</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-70">
                    <div id="canvas-holder3" class="clearfix">
                        <canvas id="chart-area3" class="pull-left"  ></canvas>
                        <div class="round-bar-status pull-left text-center">
                            <h2 class="white text-semi-bold"><span class="green-5c">3574 milliards</span></h2>
                            <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Besoin </br> Total de <br/> financement</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end données de la croissance -->

    <!-- sponsors -->
    <section class="testimonials mt-60 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class=" black h-sep"><span class="text-ultra-bold"> {{ 'Sponsors'|upper }}</span> </h3>
                </div>
            </div>
        </div>

        <div class="row mt-100">
            <div class="col-md-12 clients-slider">
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://baci.banqueatlantique.net" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/bank_atlantique_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="https://www.orange.ci/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/orange_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://www.bicici.com" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/bicici_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://www.apbef-ci.org" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/apbefci_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://www.unacoopec.com/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/unacoopeci_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://www.apsfd.ci/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/apsfdci_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://www.rti.ci/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/rti_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://abidjan.net/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/abinet_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://www.fratmat.info" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/frat-mat_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/business_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://www.pmepmimagazine.info" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/pme_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="client-img">
                        <a href="http://www.brvm.org/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/brvm_2x.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end sponsors -->

{% endblock %}
{% block javascripts %}{% endblock %}