{% extends '::base.html.twig' %}
{% block title %} {{ 'FORUM POUR LE FINANCEMENT DU SECTEUR PRIVÉ'|capitalize }}{% endblock %}
{% block cssClass %}
    template-slider header-menu-right color-one layout-full-width header-transparent sticky-header sticky-white subheader-title-left
{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('baseLayout/css/structure.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/finances.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/custom.css') }}">
{% endblock %}
{% block header %}
        <div class="section has-video" style="padding-top:250px; padding-bottom:210px; ">
            <div class="section_video">
                <div class="mask"></div>
                <video id="bgvid" width="100%" height="auto" controls="controls" muted="muted" preload="auto" loop autoplay>
                    <source type="video/webm" src="{{ asset('global/videos/cut-film-finance-hd.webm') }}" />
                    <source type="video/mp4" src="{{ asset('global/videos/cut-film-finance-hd.mp4') }}" />
                    <object width="1900" height="1060" type="application/x-shockwave-flash" data="{{ asset('global/js/flashmediaelement.swf') }}">
                        <param name="movie" value="{{ asset('global/js/flashmediaelement.swf') }}" />
                        <param name="flashvars" value="controls=true&amp;file={{ asset('global/videos/cut-film-finance-hd.mp4') }}" />
                        <img src="#" title="No video playback capabilities" alt="">
                    </object>
                </video>
            </div>
            <div class="section_wrapper clearfix">
                <div class="items_group clearfix">
                    <!-- One full width row-->
                    <div class="column one column_image">
                        <div class="image_frame no_link scale-with-grid no_border aligncenter">
                            <div class="image_wrapper">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr align_center">
                                        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr align_center">
                                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block  body %}
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section" style="padding-top:80px; padding-bottom:40px; ">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- Page Title-->
                                <!-- One full width row | les organisateurs-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h2 class="title">{{ 'les organisateurs'|upper }}</h2>
                                    </div>
                                </div>
                                <!-- One Third (1/2) Column | organisateur -->
                                <div class="column one-second column_column column_flat_box">
                                    <div class="flat_box">
                                        <!-- Animated area -->
                                        <div class="animate" data-anim-type="fadeInLeft">
                                            <a href="{{ path('organisateur') }}">
                                                <div class="photo_wrapper">
                                                    <img class="scale-with-grid" src="{{ asset('baseLayout/images/home_organisateur_cegci.jpg') }}" alt="CGECI Patronat | ivoirien" />
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4>{{ 'CGECI | Le Patronat ivoirien' }}</h4>
                                                    <div class="desc">
                                                        {{ 'La Confédération Générale des Entreprises de Côte d’Ivoire (CGECI) est la principale organisation patronale de Côte d’Ivoire' }}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- One Third (1/2) Column | organisateur -->
                                <div class="column one-second column_column column_flat_box">
                                    <div class="flat_box">
                                        <!-- Animated area -->
                                        <div class="animate" data-anim-type="fadeInLeft">
                                            <a href="#">
                                                <div class="photo_wrapper">
                                                    <img class="scale-with-grid" src="{{ asset('baseLayout/images/home_organisateur_esp.jpg') }}" alt="ESP | Espartners" />
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4>{{ 'ESPARTNERS ' }}</h4>
                                                    <div class="desc">
                                                        {{ 'ESPartners est un cabinet d’investissement et de conseil en stratégie. Avec un siège à Washington, nous disposons de bureaux régionaux en Côte d’Ivoire et au Rwanda. ' }}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section" id="welcomes" style="padding-top:120px; padding-bottom:80px; background: url({{ asset('baseLayout/images/home_bg_initiative.jpg')}}); background-size:cover; -webkit-background-size:cover" data-stellar-background-ratio="0.5">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- One Second (1/2) Column -->
                                <div class="column one-second column_column">
                                    <div class="column_attr">
                                        <div style="background: #fff; padding: 39px 40px; text-align: center;">
                                            <h2 style="font-size: 42px; line-height: 42px; margin-bottom: 30px;">{{ 'La finance s\'engage'|upper }}</h2>
                                        </div>
                                        <div class="column_attr">
                                            <iframe width="640" height="360" src="https://www.youtube.com/embed/IeOFvScT7qU?rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <!-- One Second (1/2) Column -->
                                <div class="column one-second column_column">
                                    <div class="column_attr animate" data-anim-type="fadeIn">
                                        <div style="background: #fff; padding: 39px 40px; text-align: center;">
                                            <h2 style="font-size: 42px; line-height: 42px; margin-bottom: 30px;">{{ 'Une initiative unique pour'|upper }}
                                                <br>
                                                {{ 'le financement des pme'|upper }}</h2>
                                            <p class="hrmargin_b_30">
                                                {{ 'contenu en attentes' }}
                                            </p>
                                            <a class="button button_theme button_js" href="#">
                                                <span class="button_label">{{ 'en savoir plus'|capitalize }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section" style="padding-top:80px; padding-bottom:5px; ">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- Page Title-->
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h2 class="title">{{ 'ils ont participé'|upper }}</h2>
                                    </div>
                                </div>
                                <!-- One full width row-->
                            </div>
                        </div>
                    </div>
                    <div class="flv_sections_16 section" id="slidingbox">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                {% for intervenant in intervenants %}
                                    <div class="column one-fourth column_sliding_box" style="padding-bottom: 30px; padding-top: 20px;">
                                    <div class="sliding_box">
                                        <a href="#">
                                            <div class="photo_wrapper"><img class="scale-with-grid" src="{{ intervenant.assertPath|imagine_filter('my_thumb_off_old') }}" alt="{{ intervenant.name }}" /> </div>
                                            <div class="desc_wrapper">
                                                <h4 class="text-center_h" style="color: #fff; font-size: 15px;">{{ intervenant.name }}</h4>
                                                <strong class="text-center_h" style="color: #fff;">{{ intervenant.poste|truncate (40, '', '...')}}</strong>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="section" id="boxes" style="padding-top:80px; padding-bottom:0px; background-color:#fff; background-repeat:no-repeat; background-position:center top; ">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- Page Title-->
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h2 class="title">{{ 'les statistiques de l\'edition'|upper }} {{ 'now'|date('Y') - 1 }} </h2>
                                    </div>
                                </div>
                                <!-- One Fourth (1/4) Column -->
                                <div class="column one-fourth column_quick_fact">
                                    <!-- Counter area-->
                                    <div class="quick_fact animate-math">
                                        <div class="number" data-to="200">
                                            0 </div>
                                        <h3 class="title">{{ 'acteurs clé'|capitalize }}</h3>
                                        <hr class="hr_narrow" />
                                        <div class="desc">
                                            {{ 'acteurs clé de l\'écosystème réunis : comprenant l\'état, le régulateur, les institutions de micro finance, les banques, les PTFs'|capitalize }}
                                        </div>
                                    </div>
                                </div>
                                <!-- One Fourth (1/4) Column -->
                                <div class="column one-fourth column_quick_fact">
                                    <!-- Counter area-->
                                    <div class="quick_fact animate-math">
                                        <div class="number" data-to="1276">
                                            0 </div>
                                        <h3 class="title">{{ 'Chiffre clé'|capitalize }}</h3>
                                        <hr class="hr_narrow" />
                                        <div class="desc">
                                            {{ 'milliards d\'engagement de financement pour 2017 enregistrés'|capitalize }}
                                        </div>
                                    </div>
                                </div>
                                <!-- One Fourth (1/4) Column -->
                                <div class="column one-fourth column_quick_fact">
                                    <!-- Counter area-->
                                    <div class="quick_fact animate-math">
                                        <div class="number" data-to="4000">
                                            0 </div>
                                        <h3 class="title">{{ 'entreprises'|capitalize }}</h3>
                                        <hr class="hr_narrow" />
                                        <div class="desc">
                                            {{ 'entreprises sur 10 villes de l’intérieur touches par l’enquête Données pour la Croissance TM'|capitalize }}
                                        </div>
                                    </div>
                                </div>
                                <!-- One Fourth (1/4) Column -->
                                <div class="column one-fourth column_quick_fact">
                                    <!-- Counter area-->
                                    <div class="quick_fact animate-math">
                                        <div class="number" data-to="1">
                                            0 </div>
                                        <h3 class="title">{{ 'Film'|capitalize }}</h3>
                                        <hr class="hr_narrow" />
                                        <div class="desc">
                                            {{ 'Film inédit sur les engagements'|capitalize }}
                                        </div>
                                    </div>
                                </div>
                                <!-- One full width row-->
                            </div>
                        </div>
                    </div>
                    <!-- intervenant -->
                    <!-- photo edition 2017 -->
                    <div class="section" id="welcome" style="padding-top:120px; padding-bottom:80px; background: url({{ asset('baseLayout/images/home_bg_initiative.jpg')}}); background-size:cover; -webkit-background-size:cover" data-stellar-background-ratio="0.5">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- One Second (1/2) Column -->
                                <div class="column one-second column_column">
                                    <div class="column_attr ">
                                        <div id="rev_slider_2_3_wrapper" class="rev_slider_wrapper fullwidthbanner-container sections_style_1">
                                            <div id="rev_slider_2_3" class="rev_slider fullwidthabanner tp-overflow-hidden" data-version="5.0.4.1">
                                                <ul>
                                                   {% for i in 1..7 %}
                                                    <li data-index="rs-{{ i }}" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://via.placeholder.com/100x50" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                                                        <img src="{{ asset('baseLayout/images/album/'~ i ~'.jpg') }}" alt="" width="600" height="460" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="tp-bannertimer tp-bottom flv_viz_hid"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- One Second (1/2) Column -->
                                <div class="column one-second column_column">
                                    <div class="column_attr animate" data-anim-type="fadeIn">
                                        <div style="background: #fff; padding: 39px 40px; text-align: center;">
                                            <h2 style="font-size: 42px; line-height: 42px; margin-bottom: 30px;">{{ 'quelques photos de'|upper }}
                                                <br>
                                                {{ 'l\'édition'|upper }} {{ 'now'|date('Y') -1 }}</h2>
                                            <h5>{{ '{{ Rapport en resumé de l\'edition passé }} ' }}</h5>
                                            <p class="hrmargin_b_30">
                                                {{ 'contenu en attentes' }}
                                            </p>
                                            <a class="button button_theme button_js" href="#">
                                                <span class="button_label">{{ 'voir plus'|upper }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section" id="clients flv_sections_16" style="padding-top:40px; padding-bottom:40px;">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h2 class="title">{{ 'partenaires & sponsors'|upper }}</h2>
                                    </div>
                                </div>
                                <div class="column one column_clients_slider">
                                    <div class="clients_slider">
                                        <div class="clients_slider_header">
                                            <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                        </div>
                                        <ul class="clients clients_slider_ul">
                                            {% for i in 1..12 %}
                                            <li>
                                                <div class="client_wrapper">
                                                    <a target="_blank" href="#" title="{{ loop.index }}"><img width="145" height="75" src="{{ asset('baseLayout/images/partners/'~ i ~ '.jpg') }}" class="scale-with-grid wp-post-image" alt="{{ loop.index }}" />
                                                    </a>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section" style="padding-top:80px; padding-bottom:40px; background-color:#fff">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- Page Title-->
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h4 class="title">{{ 'Rejoignez'|upper }} <strong>{{ 'la finance s\'engage'|upper }}</strong> {{ 'sur les reseaux'|upper }}</h4>
                                    </div>
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr animate" data-anim-type="bounceIn">
                                        <div class="aligncenter">
                                            <a href="#" class="icon_bar icon_bar_facebook icon_bar_large"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_google icon_bar_large"><span class="t"><i class="icon-gplus"></i></span><span class="b"><i class="icon-gplus"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_twitter icon_bar_large"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_vimeo icon_bar_large"><span class="t"><i class="icon-vimeo"></i></span><span class="b"><i class="icon-vimeo"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_youtube icon_bar_large"><span class="t"><i class="icon-play"></i></span><span class="b"><i class="icon-play"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/extensions/revolution.extension.video.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js') }}"></script>

    <script>
        var tpj = jQuery;
        tpj.noConflict();
        var revapi1;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_1_2").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_2");
            } else {
                revapi1 = tpj("#rev_slider_1_2").show().revolution({
                    sliderType: "standard",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 90000,
                    gridwidth: 1180,
                    gridheight: 1000,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner3",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: "off",
                    }
                });
            }
        });

        var tpj = jQuery;
        tpj.noConflict();
        var revapi2;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_2_3").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_2_3");
            } else {
                revapi2 = tpj("#rev_slider_2_3").show().revolution({
                    sliderType: "standard",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "on",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 0.7,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style: "hesperiden",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        bullets: {
                            enable: true,
                            hide_onmobile: false,
                            style: "hesperiden",
                            hide_onleave: false,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 20,
                            space: 5,
                            tmp: ''
                        }
                    },
                    gridwidth: 600,
                    gridheight: 460,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner3",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: "off",
                    }
                });
            }
        });
    </script>
{% endblock %}