{% extends '::base.html.twig' %}
{% block title %} {{ 'FORUM POUR LE FINANCEMENT DU SECTEUR PRIVÉ'|capitalize }}{% endblock %}
{% block cssClass %}
    layout-full-width header-transparent header-menu-right sticky-header sticky-white subheader-both-center no-content-padding
{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('baseLayout/css/structure.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/finances.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/custom.css') }}">
{% endblock %}
{% block subHeader %}
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">{{ 'l\'initiative'|upper }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section" style="padding-top:50px; padding-bottom:0px; ">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- One Second (1/2) Column -->
                                <!-- One full width row-->
                                <div class="column one column_divider">
                                    <hr class="no_line" />
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr align_center">
                                        <h3 style="margin: 0px;"> {{ '3 avantages clés'|upper }}</h3>
                                    </div>
                                </div>
                                <!-- One Second (1/2) Column -->
                                <div class="column one-second column_video">
                                    <div class="content_video">
                                        <iframe class="scale-with-grid"  width="700" height="400" src="https://www.youtube.com/embed/p_tGJR0rE34?rel=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <!-- One Second (1/2) Column -->
                                <div class="column one-second column_column">
                                    <div class="column_attr ">
                                        <div class="icon_box icon_position_left no_border">
                                            <div class="icon_wrapper">
                                                <div class="icon">
                                                    <i class="icon-leaf"></i>
                                                </div>
                                            </div>
                                            <div class="desc_wrapper">
                                                <h4>{{ 'Engagement' }}</h4>
                                                <div class="desc text-justify">
                                                    {{ 'Participer à un évènement qui permet de valoriser votre engagement en faveur du financement du secteur privé.
                                                     Vous associer à un évènement qui vous donne accès à des études exclusives
                                                      et récentes pour poser des actes concrets et réalistes pour le développement du secteur privé dans notre pays'
                                                    |capitalize}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon_box icon_position_left no_border">
                                            <div class="icon_wrapper">
                                                <div class="icon">
                                                    <i class="icon-droplet"></i>
                                                </div>
                                            </div>
                                            <div class="desc_wrapper">
                                                <h4>{{ 'Visibilité'|capitalize }}</h4>
                                                <div class="desc text-justify">
                                                    {{ 'Vous lier à la réalisation d\'un événement fédérateur auprès du grand public comme des professionnels (secteur privé et public) en particulier les PME. Accéder à des médias à très large diffusion qui porteront vos messages.' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon_box icon_position_left no_border">
                                            <div class="icon_wrapper">
                                                <div class="icon">
                                                    <i class="icon-globe"></i>
                                                </div>
                                            </div>
                                            <div class="desc_wrapper">
                                                <h4>{{'Implication'|capitalize }}</h4>
                                                <div class="desc text-justify">
                                                    {{ 'Intégrer un réseau inédit de contacts institutionnels, financiers et entrepreneurials qui impacteront positivement votre business. Capitaliser sur des opportunités de développement de business avec à la fois le secteur privé et le secteur public.' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page devider -->
                                <!-- One full width row-->
                                <div class="column one column_divider">
                                    <hr class="no_line" />
                                </div>
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h2 class="title">{{ 'Notre adn'|upper }}</h2>
                                    </div>
                                </div>
                                <!-- One Third (1/3) Column -->
                                <div class="column one-third column_column">
                                    <div class="column_attr ">
                                        <h3 class="themecolor">{{ 'Innovation'|capitalize }}</h3>
                                        <p>
                                            <span class="big text-justify">
                                                {{ 'Être partie prenante d’un projet novateur qui rompt avec les habitudes à travers des actes concrets, suivis, évalués et récompensés. Etre membre d’une plateforme qui rassemble pour la première fois TOUS les acteurs impliqués dans le développement économique: l\'écosystème financier mais aussi les PME.' }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <!-- One Third (1/3) Column -->
                                <div class="column one-third column_column">
                                    <div class="column_attr">
                                        <h3 class="themecolor">{{ 'Avenir'|capitalize }}</h3>
                                        <p>
                                            <span class="big text-justify">{{ 'Apporter sa pierre à la construction d’une économie prospère. Multiplier les opportunités d’affaires tant en direction des professionnels que des clients finaux.' }}</span>
                                        </p>
                                    </div>
                                </div>
                                <!-- One Third (1/3) Column -->
                                <div class="column one-third column_column">
                                    <div class="column_attr ">
                                        <h3 class="themecolor">{{ 'Unicité'|capitalize }}</h3>
                                        <p>
                                            <span class="big text-justify">{{ 'Plus que quelques actions ponctuelles, s\'inscrire dans un processus évolutif  qui produit des fruits reconnus et récompensés. Écrire de nouvelles pages qui obligent à l\'amélioration continue, en sortant des sentiers battus.' }}</span>
                                        </p>
                                    </div>
                                </div>
                                <!-- Page devider -->
                            </div>
                        </div>
                    </div>
                    <div class="section" id="clients flv_sections_16" style="padding-top:40px; padding-bottom:40px;">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h2 class="title">{{ 'partenaires & sponsors'|upper }}</h2>
                                    </div>
                                </div>
                                <div class="column one column_clients_slider">
                                    <div class="clients_slider">
                                        <div class="clients_slider_header">
                                            <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                        </div>
                                        <ul class="clients clients_slider_ul">
                                            {% for i in 1..12 %}
                                                <li>
                                                    <div class="client_wrapper">
                                                        <a target="_blank" href="#" title="{{ loop.index }}"><img width="145" height="75" src="{{ asset('baseLayout/images/partners/'~ i ~ '.jpg') }}" class="scale-with-grid wp-post-image" alt="{{ loop.index }}" />
                                                        </a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section" style="padding-top:80px; padding-bottom:40px; background-color:#fff">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- Page Title-->
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h4 class="title">{{ 'Rejoignez'|upper }} <strong>{{ 'la finance s\'engage'|upper }}</strong> {{ 'sur les reseaux'|upper }}</h4>
                                    </div>
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr animate" data-anim-type="bounceIn">
                                        <div class="aligncenter">
                                            <a href="#" class="icon_bar icon_bar_facebook icon_bar_large"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_google icon_bar_large"><span class="t"><i class="icon-gplus"></i></span><span class="b"><i class="icon-gplus"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_twitter icon_bar_large"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_vimeo icon_bar_large"><span class="t"><i class="icon-vimeo"></i></span><span class="b"><i class="icon-vimeo"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_youtube icon_bar_large"><span class="t"><i class="icon-play"></i></span><span class="b"><i class="icon-play"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}