{% extends '::base.html.twig' %}
{% block title %} {{ 'Officiel & speakers'|capitalize }}{% endblock %}
{% block cssClass %}
    layout-full-width header-transparent header-menu-right sticky-header sticky-white subheader-both-center no-content-padding
{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('baseLayout/css/structure.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/finances.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/custom.css') }}">
{% endblock %}
{% block subHeader %}
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">{{ 'Officiel & Speakers'|upper }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block  body %}
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section" style="padding-top:50px; padding-bottom:0px; ">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- One Second (1/2) Column -->
                                <!-- One full width row-->
                                <div class="column one column_divider">
                                    <hr class="no_line" />
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr align_center">
                                        <h3 style="margin: 0px;">{{ 'ils ont participé'|upper }}</h3>
                                    </div>
                                </div>

                                <div class="flv_sections_16 section" id="slidingbox">
                                    <div class="section_wrapper clearfix">
                                        <div class="items_group clearfix">
                                            {% for intervenant in intervenants %}
                                                <div class="column one-fourth column_sliding_box" style="padding-bottom: 30px; padding-top: 20px;">
                                                    <div class="sliding_box">
                                                        <a href="#">
                                                            <div class="photo_wrapper"><img class="scale-with-grid" src="{{ intervenant.assertPath|imagine_filter('my_thumb_off_old') }}" alt="{{ intervenant.name }}" /> </div>
                                                            <div class="desc_wrapper">
                                                                <h5 class="text-center_h" style="color: #fff;">{{ intervenant.name }}</h5>
                                                                <span class="text-center_h" style="color: #fff;">{{ intervenant.poste|truncate (40, '', '...')}}</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- One Third (1/3) Column -->

                                <!-- Page devider -->
                            </div>
                        </div>
                    </div>
                    <div class="section" style="padding-top:80px; padding-bottom:40px; background-color:#fff">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- Page Title-->
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h4 class="title">{{ 'Rejoignez'|upper }} <strong>{{ 'la finance s\'engage'|upper }}</strong> {{ 'sur les reseaux'|upper }}</h4>
                                    </div>
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr animate" data-anim-type="bounceIn">
                                        <div class="aligncenter">
                                            <a href="#" class="icon_bar icon_bar_facebook icon_bar_large"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_google icon_bar_large"><span class="t"><i class="icon-gplus"></i></span><span class="b"><i class="icon-gplus"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_twitter icon_bar_large"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_vimeo icon_bar_large"><span class="t"><i class="icon-vimeo"></i></span><span class="b"><i class="icon-vimeo"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_youtube icon_bar_large"><span class="t"><i class="icon-play"></i></span><span class="b"><i class="icon-play"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}