{% extends '::base.html.twig' %}
{% block title %} {{ 'Nos Sponsors'|capitalize }}{% endblock %}
{% block cssClass %}
    layout-full-width header-transparent header-menu-right sticky-header sticky-white subheader-both-center no-content-padding
{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('baseLayout/css/structure.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/finances.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/custom.css') }}">
{% endblock %}
{% block subHeader %}
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">{{ 'Sponsors & partenaires médias'|upper }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block  body %}
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section" style="padding-top:50px; padding-bottom:0px; ">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- One Second (1/2) Column -->
                                <!-- One full width row-->
                                <div class="column one column_divider">
                                    <hr class="no_line" />
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr align_center">
                                        <h3 style="margin: 0px;">{{ 'ILS NOUS FONT CONFIANCE'|upper }}</h3>
                                    </div>
                                </div>
                                <!-- One Third (1/3) Column -->
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box ">
                                        <h4>{{ 'La Banque Altantique Côte d\'ivoire' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="http://baci.banqueatlantique.net" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/bank_atlantique_2x.jpg') }}" alt="{{ 'La Banque Altantique Côte d\'ivoire' }}" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{'Sponsor Platinum' }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box ">
                                        <h4>{{ 'Orange Côte d\'ivoire' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="https://www.orange.ci/" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/orange_2x.jpg') }}" alt="{{ 'Orange Côte d\'ivoire' }}" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Gold' }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{ 'Groupe BNP PARIBAS' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="http://www.bicici.com" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/bicici_2x.jpg') }}" alt="{{ 'La Banque Internationale pour le Commerce et l\'Industrie de la Côte d\'Ivoire' }}" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Gold' }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{ 'Association Professionnel des Banques et Etablissements Financiers de Côte d\'Ivoire' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="http://www.apbef-ci.org/" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/apbefci_2x.jpg') }}" alt="{{ 'La Banque Internationale pour le Commerce et l\'Industrie de la Côte d\'Ivoire' }}" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Silver'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{ 'Union Nationale des Coopératives d\'Epargne et de Crédit de Côte d\'Ivoire' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="http://www.unacoopec.com/" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/unacoopeci_2x.jpg') }}" alt="{{'Union Nationale des Coopératives d\'Epargne et de Crédit de Côte d\'Ivoire'}}" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Silver'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{ 'Association Professionnelle des Systèmes Financiers Decentralisés de Côte d\'Ivoire' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="http://www.apsfd.ci/" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/apsfdci_2x.jpg') }}" alt="{{'Association Professionnelle des Systèmes Financiers Decentralisés de Côte d\'Ivoire'}}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Silver'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{ 'Radiodiffusion-télévision ivoirienne' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="http://www.rti.ci/" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/rti_2x.jpg') }}" alt="{{ 'Radiodiffusion-télévision ivoirienne' }}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Medias'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{ 'Abidjan.net' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="http://abidjan.net/" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/abinet_2x.jpg') }}" alt="{{ 'Abidjan.net' }}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Medias'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{'Fraternité Matin'}}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="http://www.fratmat.info" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/frat-mat_2x.jpg') }}" alt="{{'Fraternité Matin'}}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Medias'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{ 'Business24 Africa' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/business_2x.jpg') }}" alt="{{ 'Business24 Africa' }}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Medias'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column one-third column_photo_box">
                                    <div class="photo_box">
                                        <h4>{{ 'PME Magazine Côte d\'Ivoire' }}</h4>
                                        <div class="image_frame">
                                            <div class="image_wrapper">
                                                <a href="" target="_blank">
                                                    <div class="mask"></div>
                                                    <img class="scale-with-grid" src="{{ asset('layout_two/img/sponsors/page/pme_2x.jpg') }}" alt="{{ 'PME Magazine Côte d\'Ivoire' }}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="big">{{ 'Sponsors Medias'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page devider -->
                            </div>
                        </div>
                    </div>
                    <div class="section" style="padding-top:80px; padding-bottom:40px; background-color:#fff">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- Page Title-->
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h4 class="title">{{ 'Rejoignez'|upper }} <strong>{{ 'la finance s\'engage'|upper }}</strong> {{ 'sur les reseaux'|upper }}</h4>
                                    </div>
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr animate" data-anim-type="bounceIn">
                                        <div class="aligncenter">
                                            <a href="#" class="icon_bar icon_bar_facebook icon_bar_large"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_google icon_bar_large"><span class="t"><i class="icon-gplus"></i></span><span class="b"><i class="icon-gplus"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_twitter icon_bar_large"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_vimeo icon_bar_large"><span class="t"><i class="icon-vimeo"></i></span><span class="b"><i class="icon-vimeo"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_youtube icon_bar_large"><span class="t"><i class="icon-play"></i></span><span class="b"><i class="icon-play"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}