{% extends 'LabsPagesBundle::layout.html.twig' %}
{% block title %} {{ 'FORUM POUR LE FINANCEMENT DU SECTEUR PRIVÉ'|capitalize }}{% endblock %}
{% block  body %}
    <div class="page-title causes-title text-center" style="min-height: 250px;">
        <img class="img-responsive slide-img" src="{{ asset('layout_two/img/titles/partners.png') }}" alt="">
    </div>

    <!-- les partenaires -->
    <section class="recent-causes">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase black h-sep"><span class="text-ultra-bold">{{ 'ILS NOUS FONT CONFIANCE'|upper }}</span> </h3>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-3 col-md-6 col-sm-6 overcoming">
                    <h4 class="d-black lh-33 h-sep mt-5">
                        <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                        <span style="padding-left: 5px;">{{ 'Partenaire Platinum' }}</span>
                    </h4>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://baci.banqueatlantique.net" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/bank_atlantique_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'La Banque Altantique Côte d\'ivoire' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://baci.banqueatlantique.net" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-3 col-md-6 col-sm-6 overcoming">
                    <h4 class="d-black lh-33 h-sep mt-5">
                        <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                        <span style="padding-left: 5px;">{{ 'Partenaires Gold' }}</span>
                    </h4>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="https://www.orange.ci/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/orange_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Orange Côte d\'ivoire' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="https://www.orange.ci/" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://www.bicici.com" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/bicici_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'La Banque Internationale pour le Ccommerce et l\'Industrie de la Côte d\'Ivoire' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://www.bicici.com" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-3 col-md-6 col-sm-6 overcoming">
                    <h4 class="d-black lh-33 h-sep mt-5">
                        <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                        <span style="padding-left: 5px;">{{ 'Partenaires Silver'}}</span>
                    </h4>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://www.apbef-ci.org" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/apbefci_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Association Professionnel des Banques et Etablissements Financiers de Côte d\'Ivoire' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://www.apbef-ci.org/" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://www.unacoopec.com/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/unacoopeci_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Union Nationale des Coopératives d\'Epargne et de Crédit de Côte d\'Ivoire' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://www.unacoopec.com/" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://www.apsfd.ci/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/apsfdci_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Association Professionnelle des Systèmes Financiers Decentralisés de COTE D\'IVOIRE)' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://www.apsfd.ci/" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-3 col-md-6 col-sm-6 overcoming">
                    <h4 class="d-black lh-33 h-sep mt-5">
                        <img src="{{ asset('layout_two/img/logo_icon.png') }}" alt="" class="pull-left img-responsive">
                        <span style="padding-left: 5px;">{{ 'Partenaires Medias'}}</span>
                    </h4>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://www.rti.ci/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/rti_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Radiodiffusion-télévision ivoirienne' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://www.rti.ci/" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://abidjan.net/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/abinet_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Abidjan.net' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://abidjan.net/" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://www.fratmat.info" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/frat-mat_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Fraternité Matin' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://www.fratmat.info/" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/business_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Business24 Africa' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://www.pmepmimagazine.info" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/pme_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'PME Magazine Côte d\'Ivoire' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://www.pmepmimagazine.info" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-50 cause-main">
                    <div class="item">
                        <div class="causes-img text-center">
                            <a href="http://www.brvm.org/" target="_blank"><img src="{{ asset('layout_two/img/sponsors/page/brvm_2x.jpg') }}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="cause-content text-center">
                            <h5 class="martel text-semi-bold d-black">{{ 'Bourse Régionale des Valeurs Mobilières' }}</h5>
                            <p class="lh-22 mt-10">Totam rem aperiam, eaque ipsa quae ab illosa inventore veritatis et quasi.</p>
                            <a class="fz-14 mt-20 btn-green-br" href="http://www.brvm.org/" target="_blank">{{ 'en savoir +'|capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <!-- end partenaires -->
{% endblock %}
{% block javascripts %}{% endblock %}