{% extends '::base.html.twig' %}
{% block title %} {{ 'Nos Sponsors'|capitalize }}{% endblock %}
{% block cssClass %}
    layout-full-width header-transparent header-menu-right sticky-header sticky-white subheader-both-center no-content-padding
{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('baseLayout/css/structure.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/finances.css') }}">
    <link rel='stylesheet' href="{{ asset('baseLayout/css/custom.css') }}">
{% endblock %}
{% block subHeader %}
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">{{ 'Sponsors & partenaires médias'|upper }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block  body %}
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section flv_sections_17" style="padding-top:50px; padding-bottom:0px;">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one column_divider">
                                    <hr class="no_line" />
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr align_center">
                                        <h3 style="margin: 0px;">{{ 'ILS NOUS FONT CONFIANCE'|upper }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for category in categories %}
                        <div class="section section-border-top flv_sections_18" style="border-top: 1px solid rgba(0,0,0,.08);">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix" style="padding-top: 20px;">
                                <!-- One Fourth (1/4) Column -->
                                <div class="column one-fourth column_column">
                                    <div class="column_attr">
                                        <h4 class="title themecolor"> {{ 'SPONSORS - ' ~ category.name|upper }}</h4>
                                    </div>
                                </div>
                                <!-- Three Fourth (3/4) Column -->
                                <div class="column three-fourth column_column">
                                    {% for sponsors in category.sponsors %}
                                     <div class="column one-third column_photo_box">
                                        <div class="photo_box ">
                                            <h4>{{ sponsors.name|capitalize }}</h4>
                                            <div class="image_frame">
                                                <div class="image_wrapper">
                                                    <a href="{{ (sponsors.link|length > 0) ? sponsors.link : '#' }}" target="_blank">
                                                        <div class="mask"></div>
                                                        <img class="scale-with-grid" src="{{ sponsors.assertPath|imagine_filter('my_thumb_sponsors') }}" alt="{{ sponsors.name }}" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="section" style="padding-top:80px; padding-bottom:40px; background-color:#fff">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- Page Title-->
                                <!-- One full width row-->
                                <div class="column one column_fancy_heading">
                                    <div class="fancy_heading fancy_heading_icon">
                                        <h4 class="title">{{ 'Rejoignez'|upper }} <strong>{{ 'la finance s\'engage'|upper }}</strong> {{ 'sur les reseaux'|upper }}</h4>
                                    </div>
                                </div>
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr animate" data-anim-type="bounceIn">
                                        <div class="aligncenter">
                                            <a href="#" class="icon_bar icon_bar_facebook icon_bar_large"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_google icon_bar_large"><span class="t"><i class="icon-gplus"></i></span><span class="b"><i class="icon-gplus"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_twitter icon_bar_large"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_vimeo icon_bar_large"><span class="t"><i class="icon-vimeo"></i></span><span class="b"><i class="icon-vimeo"></i></span></a>
                                            <a href="#" class="icon_bar icon_bar_youtube icon_bar_large"><span class="t"><i class="icon-play"></i></span><span class="b"><i class="icon-play"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}