<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ 'La finance s\'engage' }} | {% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ asset('favicon/apple-icon-57x57.png') }}">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic' rel='stylesheet' type='text/css'>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{{ asset('layout_one/css/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('layout_one/css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('layout_one/css/layout.css')}}">
    <link rel="stylesheet" href="{{ asset('layout_one/css/components.css')}}">
    <link rel="stylesheet" href="{{ asset('layout_one/css/pages.css')}}">
    {% block stylesheets %}{% endblock %}

    <!-- MODERNIZR -->
    <script src="{{ asset('layout_one/js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>
<body class="homepage">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- PRELOADER -->
<div id="preloader">
    <div class="spinner"></div>
</div>
<!-- // PRELOADER -->

{% include 'LabsPagesBundle:includes/layout_one:header.html.twig' %}

<!-- SECTION 1 - HERO SLIDER -->
{% include 'LabsPagesBundle:includes/layout_one:slide.html.twig' %}

{% block body %}

{% endblock %}


{% include 'LabsPagesBundle:includes/layout_one:footer.html.twig' %}
<!-- JQUERY / PLUGINS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
<script src="{{ asset('layout_one/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('layout_one/js/vendor/owl.carousel.min.js') }}"></script>
<script src="{{ asset('layout_one/js/vendor/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('layout_one/js/vendor/circle-progress.js') }}"></script>

<!-- MAIN JS FOLDER -->
<script src="{{ asset('layout_one/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
