<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Raphael Blehoue">
    <title>{{ 'La finance s\'engage' }} | {% block title %}{% endblock %}</title>

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('layout_three/rs-plugin/css/settings.css') }}" media="screen" />

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('layout_three/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('layout_three/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('layout_three/css/ionicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('layout_three/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('layout_three/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('layout_three/css/responsive.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <!-- Online Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Wrap -->
<div id="wrap">

    <!-- header -->

    {% include 'LabsPagesBundle:includes/layout_three:header.html.twig' %}

    <!--======= HOME MAIN SLIDER =========-->
    {% include 'LabsPagesBundle:includes/layout_three:slide.html.twig' %}


    <!-- Content -->
    <div id="content">
         {% block body %}{% endblock %}
    </div>

    <!-- SUB FOOTER -->
    {% include 'LabsPagesBundle:includes/layout_three:footer.html.twig' %}
</div>
<script src="{{ asset('layout_three/js/jquery-1.11.0.min.js') }}"></script>
<script src="{{ asset('layout_three/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('layout_three/js/own-menu.js') }}"></script>
<script src="{{ asset('layout_three/js/jquery.isotope.min.js') }}"></script>
<script src="{{ asset('layout_three/js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ asset('layout_three/js/owl.carousel.min.js') }}"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="{{ asset('layout_three/rs-plugin/js/jquery.tp.t.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('layout_three/rs-plugin/js/jquery.tp.min.js') }}"></script>
<script src="{{ asset('layout_three/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
