<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ 'La finance s\'engage' }} | {% block title %} {% endblock %} </title>

    <meta name="description" content="La finance s'engage" >

    <meta name="author" content="Raphael Blehoue">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Bootstrap v3.3.4 -->
    <link href="{{ asset('layout_forth/assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- icon fonts Font Awesome 4.3.0 -->
    <link href="{{ asset('layout_forth/assets/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Plugins  -->
    <link href="{{ asset('layout_forth/assets/css/jquery.fs.boxer.css') }}" rel="stylesheet" />

    <link rel="stylesheet" href="{{ asset('layout_forth/assets/css/owl.carousel.css') }}">

    <link rel="stylesheet" href="{{ asset('layout_forth/assets/rs-plugin/css/settings.css') }}" media="screen" /> <!-- SLIDER REVOLUTION -->

    <!-- Import Custom Styles -->
    <link href="{{ asset('layout_forth/assets/css/style.css') }}" rel="stylesheet">

    <!-- Import Responsive Styles -->
    <link href="{{ asset('layout_forth/assets/css/responsive.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{{ asset('layout_forth/assets/js/html5shiv.js') }}"></script>
    <![endif]-->

</head>
<body>

{% include 'LabsPagesBundle:includes/layout_forth:header.html.twig' %}

{% include 'LabsPagesBundle:includes/layout_forth:slide.html.twig' %}

{% block body %}{% endblock %}

<!-- Footer Widget -->
{% include 'LabsPagesBundle:includes/layout_forth:footer.html.twig' %}
<!-- Footer Widget End -->




<!-- Include modernizr-2.8.0.min.js -->
<script src="{{ asset('layout_forth/assets/js/modernizr.js') }}"></script>

<!-- Include jquery.min.js plugin -->
<script src="{{ asset('layout_forth/assets/js/jquery-2.1.0.min.js') }}"></script>
<script src="{{ asset('layout_forth/assets/js/plugins.js') }}"></script>
<script src="{{ asset('layout_forth/assets/js/custom.js') }}"></script>

<!-- Slider Revolution  -->
<script type="text/javascript" src="{{ asset('layout_forth/assets/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('layout_forth/assets/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>