{% extends 'LabsUboldBundle::loyout_ubold.html.twig' %}
{% block title %}{{ 'Item - Page | AGR' }}{% endblock %}
{% block body %}
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success" role="alert">
                            {% for msg in app.session.flashBag.get('success') %}
                                <strong> Succès </strong>{{ msg }}.
                            {% endfor %}
                        </div>
                    {% endif %}

                    <h4 class="page-title">{{ 'Creation du Contenu Item pour Team' }}</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ path('homepage') }}">{{ 'LFS' }}</a>
                        </li>
                        <li class="active">
                            {{ 'Page Item' }}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- end Page Title -->
            <!-- page content -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>{{ 'Formulaire de creation de Item' }}</b></h4>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                {{ form_start(form, {'role': 'form', 'action': path('item_create'), 'attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Team' }}</label>
                                    <div class="col-md-10">
                                        {{ form_row(form.team) }}
                                        {{ form_errors(form.team) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'titre' }}</label>
                                    <div class="col-md-10">
                                        {{ form_row(form.title) }}
                                        {{ form_errors(form.title) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'description' }}</label>
                                    <div class="col-md-10">
                                        {{ form_row(form.content) }}
                                        {{ form_errors(form.content) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-2">
                                        <button type="submit" class="btn btn-primary" formnovalidate>{{ 'Créer Item' }}</button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}