<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock %}  | {{ 'Dashboard AGR'|capitalize }}</title>

    <link href="{{ asset('bundles/labsubold/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/labsubold/assets/css/core.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/labsubold/assets/css/components.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/labsubold/assets/css/icons.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/labsubold/assets/css/pages.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/labsubold/assets/css/responsive.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheets %} {% endblock %}


    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{ asset('bundles/labsubold/assets/js/modernizr.min.js') }}"></script>
    <!-- /global stylesheets -->
</head>

<body class="fixed-left">
<div id="wrapper">
    <!-- Top Bar Start -->
    {% include 'LabsUboldBundle:Includes:topbar.html.twig' %}
    <!-- Top Bar End -->
    <!-- ========== Left Sidebar Start ========== -->
    {% include 'LabsUboldBundle:Includes:sidebar.html.twig' %}
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        {% block body %}{% endblock %}
        <footer class="footer">
            © {{ 'now'|date('Y') }}. {{ 'Tous droits reservés' }}.
        </footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
</div>
<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="{{ asset('bundles/labsubold/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/detect.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/fastclick.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/jquery.blockUI.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/waves.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/wow.min.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/jquery.nicescroll.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/jquery.scrollTo.min.js') }}"></script>
{% block javascripts %}{% endblock %}

<script src="{{ asset('bundles/labsubold/assets/js/jquery.core.js') }}"></script>
<script src="{{ asset('bundles/labsubold/assets/js/jquery.app.js') }}"></script>
</body>

