<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start">
                <a href="{{ path('team_list') }}" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <span class="title">{{ 'Gestion des Intervenants'|capitalize }}</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="{{ path('list_dossier') }}" class="nav-link nav-toggle">
                    <i class="icon-book-open"></i>
                    <span class="title">{{ 'Gestion documents'|capitalize }}</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">{{ 'Gestions des organisateurs'|capitalize }}</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="{{ path('post_list') }}" class="nav-link nav-toggle">
                    <i class="icon-notebook"></i>
                    <span class="title">{{ 'Gestion des Actualités'|capitalize }}</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="{{ path('dossier_index') }}" class="nav-link nav-toggle">
                    <i class="icon-picture"></i>
                    <span class="title">{{ 'Gestion de la Galerie'|capitalize }}</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="{{ path('category_index') }}" class="nav-link nav-toggle">
                    <i class="icon-book-open"></i>
                    <span class="title">{{ 'Catégories de sponsors'|capitalize }}</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="{{ path('sponsors_list') }}" class="nav-link nav-toggle">
                    <i class="icon-star"></i>
                    <span class="title">{{ 'Gestion des sponsors'|capitalize }}</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>