<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Menu</li>

                <li>
                    <a href="{{ path('about_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Page Qui sommes nous  ' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('banner_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Ajouter banniere' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('team_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Ajouter team' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('partner_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Ajouter partenaire' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('project_index') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Créer page project' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('post_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Créer blog' }} </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>