<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Menu</li>

                <li>
                    <a href="{{ path('team_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Team' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('item_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Contenu Team' }} </span> </a>
                </li>

                <li>
                    <a href="{{ path('programs_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Programmes' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('partner_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Partenaire' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('part_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Contenu partners' }} </span> </a>
                </li>
                <li>
                    <a href="{{ path('doc_list') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Document' }} </span> </a>
                </li>

                <li>
                    <a href="{{ path('dossier_index') }}" class="waves-effect"><i class="ti-files"></i><span> {{ 'Galerie' }} </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>