<div class="container relative">
    <header>
        <div class="logo"> <a href="#."><img  class="img-responsive" src="{{ asset('layout_two/img/logo-top.png') }}" alt="" ></a> </div>
        <!-- Top bar -->
        <div class="top-bar">
            <div class="top-info">
                <ul class="personal-info">
                    <li>
                        <p><i class="fa fa-phone"></i> + 124 45 78 678 </p>
                    </li>
                    <li>
                        <p><i class="fa fa-envelope-o"></i> Support@mail.com </p>
                    </li>
                    <li>
                        <p><i class="fa fa-clock-o"></i> Mon - Fri : 08.00 - 17.00 </p>
                    </li>
                </ul>
                <ul class="social">
                    <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#."><i class="fa fa-google"></i></a></li>
                    <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

            <!-- Navigation -->
            <nav class="navbar">
                <ul class="nav ownmenu">
                    <li class="active"><a href="">{{ 'Accueil'|upper }}</a></li>
                    <li><a href="">{{ 'Présentation' }}</a>
                        <ul class="dropdown">
                            <li><a href="">{{ 'l\'initiative'|upper }}</a></li>
                            <li><a href=""> {{ 'les organisateurs'|upper }} </a></li>
                            <li><a href=""> {{ 'sponsors - partenaires'|upper }} </a></li>
                        </ul>
                    </li>
                    <li><a href="">{{ 'Le forum'|upper }}</a>
                        <ul class="dropdown">
                            <li><a href="">{{ 'les participants'|upper }}</a></li>
                            <li><a href=""> {{ 'les engagements'|upper }} </a></li>
                        </ul>
                    </li>
                    <li><a href=""> {{ 'Les Données pour la croissance'|upper }} </a></li>
                    <li><a href=""> {{ 'médias'|upper }} </a>
                        <ul class="dropdown">
                            <li><a href="">{{ 'communiquez de presse'|upper }}</a></li>
                            <li><a href=""> {{ 'galerie photos'|upper }} </a></li>
                        </ul>
                    </li>
                    <li><a href=""> {{ 'contacts' }}</a></li>
                </ul>

                <!-- GET A QUOTES -->
                <div class="quotes"> <a href="#" class="customcolor"><i class="fa fa-pencil-square-o"></i> {{ 'participer'|upper }}</a> </div>
            </nav>
        </div>
    </header>
</div>