{% extends 'LabsBackBundle::admin.html.twig' %}
{% block title %}{{ 'Gestion des Galeries | La financesengage.com ' }}{% endblock %}
{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{{ asset('adminLayout/assets/global/plugins/dropzone/dropzone.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('adminLayout/assets/global/plugins/dropzone/basic.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}
{% block body %}
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title"> {{'Gestion des Galeries'}}
            <small>{{ '| Edition de galerie photos' }}</small>
        </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('admin_homepage') }}">{{ 'Dashboard'|capitalize }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('dossier_index') }}">{{ 'Photos'|capitalize }}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>{{ 'Brouillons'|capitalize }}</span>
                </li>
            </ul>
        </div>
        <!-- BEGIN PAGE LIST-->
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success" role="alert">
                        {% for msg in app.session.flashBag.get('success') %}
                            <strong> Succès </strong>{{ msg }}.
                        {% endfor %}
                    </div>
                {% endif %}
                {% if app.session.flashBag.has('error') %}
                    <div class="alert alert-danger" role="alert">
                        {% for msg in app.session.flashBag.get('error') %}
                            <strong> Erreur d'ajout </strong>{{ msg }}.
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase"> {{ 'Edition Galerie' }}</span>
                        </div>
                        <div class="actions">
                            <a href="{{ path('dossier_index') }}" class="btn sbold uppercase btn-outline yellow-gold"><i class="fa fa-plus"></i> {{ 'afficher la liste'|upper }} </a>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet box yellow-gold">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-draft"></i> {{'Brouillons Album'|capitalize}} | <small class="text-bold">Brouillon Edition de l'album - {% if dossier.name|length > 0 %}{{ dossier.name }}{% endif %}</small>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, { 'action': path('dossier_edit', {'id' : dossier.id , 'user_id': app.user.id}), attr : { 'class':'form-horizontal', 'novalidate': 'novalidate'}}) }}
                        {{ form_errors(form) }}
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ 'Status de l\'album' }}</label>
                                <div class="col-md-9">
                                    {{ form_row(form.online) }}
                                    {{ form_errors(form.online) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ 'Titre de l\'album' }}</label>
                                <div class="col-md-9">
                                    {{ form_row(form.name) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div action="{{ path('dossier_draft', {'id' : dossier.id, 'user_id': app.user.id }) }}" class="dropzone dropzone-file-area" id="my-dropzone" data-name="Gallery" style="width: 700px; margin-top: 10px;">
                                    <h3 class="sbold">Faites glisser des fichiers ici <span> ou Sélectionnez des fichiers sur l'ordinateur en cliquant ici</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light portlet-fit ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Liste des photos</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="mt-element-card mt-element-overlay">
                                        <div class="row">
                                        {% for media in dossier.medias %}
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                <div class="mt-card-item">
                                                    <div class="mt-card-avatar mt-overlay-1">
                                                        <img src="{{ asset(media.assertPath|imagine_filter('my_thumb_off_back')) }}" />
                                                        <div class="mt-overlay">
                                                            <ul class="mt-info">
                                                                <li>
                                                                    <a class="btn default btn-outline" href="javascript:;">
                                                                        <i class="icon-magnifier"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="btn default btn-outline" href="javascript:;">
                                                                        <i class="icon-link"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="form-actions">
                            <div class="row col-md-offset-3">
                                <div class="col-md-4">
                                     <div class="text-right">
                                        <a href="{{ path('dossier_index') }}" class="btn green">{{ 'Retour a la liste' }} <i class="icon-database-add position-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                     <div class="text-right">
                                        <button type="submit" class="btn yellow-gold">Enregistrer & Continuer <i class="icon-database-add position-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>
        <!-- END PAGE LIST-->
    </div>
    <!-- END PAGE HEADER-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('adminLayout/assets/global/plugins/dropzone/dropzone.min.js') }}"></script>
{% endblock %}
{% block extra %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('adminLayout/assets/pages/scripts/form-dropzone.js') }}"></script>
{% endblock %}