
<!-- Header -->
<header>
    <!-- Top Bar -->
    <div class="container">
        <div class="top-bar">
            <div class="open-time">
            </div>
            <div class="call">
            </div>
        </div>
    </div>

    <!-- Logo -->
    <div class="container">
        <div class="logo"> <a href="#."><img src="{{ asset('layout_three/images/logo_top.png') }}" alt=""></a> </div>

        <!-- Nav -->
        <nav>
            <ul id="ownmenu" class="ownmenu">
                <li class="active"><a href="">{{ 'Accueil'|upper }}</a></li>
                <li><a href="">{{ 'Présentation' }}</a>
                    <ul class="dropdown">
                        <li><a href="">{{ 'l\'initiative'|upper }}</a></li>
                        <li><a href=""> {{ 'les organisateurs'|upper }} </a></li>
                        <li><a href=""> {{ 'partenaires'|upper }} </a></li>
                    </ul>
                </li>
                <li><a href="">{{ 'Le forum'|upper }}</a>
                    <ul class="dropdown">
                        <li><a href="">{{ 'les participants'|upper }}</a></li>
                        <li><a href=""> {{ 'les engagements'|upper }} </a></li>
                        <li><a href=""> {{ 'Les Données pour la croissance'|upper }} </a></li>
                    </ul>
                </li>
                <li><a href=""> {{ 'médias'|upper }} </a>
                    <ul class="dropdown">
                        <li><a href="">{{ 'communiqués de presse'|upper }}</a></li>
                        <li><a href=""> {{ 'galerie photos'|upper }} </a></li>
                    </ul>
                </li>
                <li><a href=""> {{ 'contacts' }}</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header End -->