<!-- sub slide -->
<div class="container-fluid no-padding" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="main-slider">
        <div class="item">
            <div class="main-slider-img position-r" style="border-bottom: 4px solid #f48a38;">
                <img src="{{ asset('layout_two/img/footer_partenaire.jpg') }}" alt="la finance s'engage" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<!-- end sub slide -->
<div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <img class="img-responsive" src="{{ asset('layout_two/img/logo_final.png') }}" alt="">
                    <!--<p class="gray-aaa mt-20">Eaque ipsa quae ab illo inventore veris quasi architecto beatae vitae dicta expenim ipsam voluptatem.</p>-->
                    <div class="footer-social list-inline mt-25">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3" >
                    <h6 class="text-uppercase text-bold gray-e8 bb display-ib">{{ 'Liens utiles' }}</h6>
                    <ul class="list-unstyled useful-links">
                        <li><a href="{{ path('homepage') }}">{{ 'Accueil' }}</a></li>
                        <li><a href="{{ path('initiative') }}">{{ 'L\'Initiative' }}</a></li>
                        <li><a href="{{ path('organisateur') }}">{{ 'Organisateur' }}</a></li>
                        <li><a href="{{ path('partners') }}">{{ 'Partenaires' }}</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <h6 class="text-uppercase text-bold gray-e8 bb display-ib">infos utiles</h6>
                    <ul class="list-unstyled useful-links">
                        <li><a href="{{ path('participant') }}">{{ 'Participants' }}</a></li>
                        <li><a href="{{ path('engagement') }}">{{ 'Engagements' }}</a></li>
                        <li><a href="{{ path('croissance') }}">{{ 'Données' }}</a></li>
                        <li><a href="{{ path('contact') }}">{{ 'Contact' }}</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h6 class="text-uppercase text-bold gray-e8 bb display-ib">{{ 'Adresse' }}</h6>
                    <span class="ubuntu fz-14 gray-aaa display-block mt-30 lh-24">Addresse :</span>
                    <span class="ubuntu fz-14 gray-aaa display-block lh-24">Phone : </span>
                    <span class="ubuntu fz-14 gray-aaa display-block lh-24">Email : info@lafinancesengage.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="ubuntu fz-12 text-uppercase text-medium">Copyright © {{ 'now'|date('Y') }} lafinancesengage All Rights Reserved.</span>
                </div>
            </div>
        </div>

    </div>
