<header>
    <div class="container mb-40">
        <div class="row row-eq-height">
            <div class="col-md-5 text-center logo">
                 <img class="img-responsive" src="{{ asset('layout_two/img/logo_final.png') }}" alt="">
            </div>
            <div class="col-md-7">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="main-nav mt-20">
        <div class="container">
            <div class="col-md-offset-5 col-md-7">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse no-margin no-padding">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('homepage') }}">{{ 'Accueil'|upper }}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Présentation' }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('initiative') }}">{{ 'initiative'|upper }}</a></li>
                                    <li><a href="{{ path('organisateur') }}"> {{ 'organisateurs'|upper }} </a></li>
                                    <li><a href="{{ path('partners') }}"> {{ 'Partenaires'|upper }} </a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Le forum'|upper }}  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('participant') }}">{{ 'participants'|upper }}</a></li>
                                    <li><a href="{{ path('engagement') }}"> {{ 'engagements'|upper }} </a></li>
                                    <li><a href="{{ path('croissance') }}"> {{ 'Données pour la croissance'|upper }} </a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'médias'|upper }}  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('blog') }}">{{ 'communiqués de presse'|upper }}</a></li>
                                    <li><a href=""> {{ 'galerie photos'|upper }} </a></li>
                                </ul>
                            </li>
                            <li><a class="green-nav" href="{{ path('contact') }}">{{ 'contact' }}</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header>
