<header id="header" class="header">

    <!-- header-top -->
    <div id="header-top" class="header-top">
        <div class="container">
            <div class="row">
                <div class="info col-sm-4">
                    <i class="fa fa-envelope"></i><a href="#">info@exemple.com</a>
                </div><!-- /.info -->

                <div class="col-sm-8 top-right text-right">
                    <!--<div class="lang-select">
                        <select class="cs-select cs-skin-border">
                            <option value="" disabled selected>French</option>
                            <option value="french">English</option>
                            <option value="spanish">Spanish</option>
                            <option value="arabic">Arabic</option>
                        </select>
                    </div><!-- /.lang-select -->

                    <div class="social-icon">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>

                    <div id="sb-search" class="sb-search">
                        <form action="#" class="sb-search-form" method="get" accept-charset="utf-8">
                            <input class="sb-search-input" placeholder="Search Here" type="text" value="" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <i class="fa fa-search search-icon"></i>
                        </form>
                    </div>

                </div><!-- /.top-right -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-top -->
    <!-- Header-top End  -->


    <!-- header-middle -->
    <div id="header-middle" class="header-middle">
        <div class="container">
            <div class="logo pull-left">
                <a class="navbar-brand" href="./">
                    <img src="{{ asset('layout_three/images/logo_top.png') }}" alt="lafinancesengage Logo">
                </a><!-- /.navbar-brand -->
            </div><!-- /.logo -->

            <div class="middle-quote pull-left">
                <blockquote class="quote">
                   {{ 'Forum pour le financement des entreprises' }} <br/> <strong> Lieu : Siège social de la banque africaine de développement (BAD).</strong>
                </blockquote>
            </div><!-- /.middle-quote -->

            <div class="middle-right pull-right">
                <div class="street media">
                    <div class="media-left"><i class="fa fa-map-marker"></i> </div>
                    <div class="media-body">
                        <span> Cocody Vallon</span> Abidjan, Côte d'ivoire
                    </div>
                </div>

                <div class="cell media">
                    <div class="media-left"><i class="fa fa-phone"></i> </div>
                    <div class="media-body">
                        Contact: <span>+(225) 03010301</span>
                    </div>
                </div>
            </div><!-- /.middle-right -->
        </div><!-- /.container -->
    </div><!-- /.header-middle -->
    <!-- Header-middle End  -->



    <!-- Main Menu -->
    <div class="main-menu-container navbar-fixed-top-">
        <div id="main-menu" class="navbar navbar-default" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="./">
                        <img src="images/logo2.png" alt="Memorial Logo">
                    </a><!-- /.navbar-brand -->
                    <!-- responsive navigation -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button> <!-- /.navbar-toggle -->
                </div> <!-- /.navbar-header -->

                <nav class="collapse navbar-collapse">
                    <!-- Main navigation -->
                    <ul id="mainNavigation" class="main-mav nav navbar-nav">
                        <li class="current-menu-item"><a href="index.html">{{ 'Accueil' }}</a></li><!-- /.menu-item-has-children -->
                        <li class="menu-item-has-children">
                            <a href="#">{{ 'Presentation' }}</a>
                            <ul class="sub-menu">
                                <li><a href="">{{ 'l\'initiative'|upper }}</a></li>
                                <li><a href=""> {{ 'les organisateurs'|upper }} </a></li>
                                <li><a href=""> {{ 'sponsors - partenaires'|upper }} </a></li>
                            </ul><!-- /.sub-menu -->
                        </li><!-- /.menu-item-has-children -->
                        <li class="menu-item-has-children">
                            <a href="#">{{ 'Le forum' }}</a>
                            <ul class="sub-menu">
                                <li><a href="">{{ 'les participants'|upper }}</a></li>
                                <li><a href=""> {{ 'les engagements'|upper }} </a></li>
                                <li><a href="">  </a></li>
                            </ul><!-- /.sub-menu -->
                        </li><!-- /.menu-item-has-children -->
                        <li><a href="">{{ 'Les Donnée pour la croissance'|upper }}</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">{{ 'médias' }}</a>
                            <ul class="sub-menu">
                                <li><a href="">{{ 'communiquez de presse'|upper }}</a></li>
                                <li><a href=""> {{ 'galerie photos'|upper }} </a></li>
                            </ul><!-- /.sub-menu -->
                        </li><!-- /.menu-item-has-children -->
                        <li><a href="">{{ 'contact' }}</a></li>
                    </ul> <!-- /#mainNavigation -->
                </nav> <!-- /.navbar-collapse  -->
            </div> <!-- /.container -->
        </div><!-- /#main-menu -->
    </div><!-- /.main-menu-container -->
    <!-- Main Menu End -->

</header><!-- /header -->
